@page "/"

<h1>Welcome to Song Aid</h1>

Use one of the following tools:
<ul>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="beatcalculator">
            <span class="oi oi-plus" aria-hidden="true"></span> Beat Calculator
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="keydetector">
            <span class="oi oi-musical-note" aria-hidden="true"></span> Key Detector
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="capo">
            <span class="oi oi-expand-right" aria-hidden="true"></span> Capo
        </NavLink>
    </li>
</ul>
